<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>bootstrap - The css Framework</title>

  <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
  <meta name="author" content="Hakim El Hattab">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/theme/black.css" id="theme">

  <!-- Code syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>

  <!--[if lt IE 9]>
  <script src="lib/js/html5shiv.js"></script>
  <![endif]-->

  <style>
    .reveal a {
      color:#E5D85C;
    }

    .reveal pre {
      display: block;
      position: relative;
      width: 100%;
      margin: 20px auto;
      text-align: left;
      font-size: 0.55em;
      font-family: monospace;
      line-height: 1.2em;
      word-wrap: break-word;
    }
  </style>
</head>

<body>

<div class="reveal">

  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section data-background="#2aa57e">
      <h1>Bootstrap</h1>
      <h3>for Quick Web Development</h3>
      <p>
        <small>Created by <a href="https://github.com/immaker">김태준</a> / <a href="">taescaris@gmail.com</a></small>
      </p>
    </section>

    <section data-background="#dddddd">
      <h3>왜?</h3>
      <img width="700" height="500" data-src="lib/img/whowho.png" alt="storyboard">
    </section>

    <section data-background="#dddddd">
      <p>내가 기대한 스토리보드!</p>
      <img width="700" height="500" data-src="lib/img/storyboard-be.png" alt="storyboard">
    </section>

    <section data-background="#dddddd">
      <p>현실은.....</p>
      <img width="700" height="500" data-src="lib/img/storyboard-after.png" alt="storyboard">
    </section>

    <section data-background="#dddddd">
      <img width="400" height="400" data-src="lib/img/sad.png" alt="bootstrap">
    </section>

    <section>
      <p>javascript 프레임워크처럼</p>
      <p>디자인 프레임워크는 없을까?</p>
      <a class="fragment roll-in" href="http://usablica.github.io/front-end-frameworks/compare.html">http://usablica.github.io/front-end-frameworks/compare.html</a>
    </section>

    <section>
      <h2>CSS Frameworks</h2>
      <li>Pre-built CSS grid systems to make development easier and faster</li>
      <li class="fragment roll-in">Have layout and often typography classes pre-defined</li>
      <li class="fragment roll-in">Many frameworks exist for a specific developer's needs</li>
      <li class="fragment roll-in">The most popular: Bootstrap and Foundation</li>
    </section>

    <section>
      <p>Wecome to Bootstrap</p>
      <img width="700" height="400" data-src="lib/img/bootstrap-main.png" alt="bootstrap">
      <a href="http://bootstrapk.com/">http://bootstrapk.com/</a>
    </section>
    <section>
      <pre>
        <code class="html">
          <div class="row">
            <div class="col-xs-12">Welcome to the site!</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h2>Headline 1</h2>
              <p>text</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h2>Headline 2</h2>
              <p>text</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h2>Headline 3</h2>
              <p>text</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <h2>Headline 4</h2>
              <p>text</p>
            </div>
          </div>
        </code>
      </pre>
    </section>
    <section>
      <p>Desktop</p>
      <img data-src="lib/img/desktop.png" alt="desktop"/>
    </section>
    <section>
      <p>Tablet</p>
      <img data-src="lib/img/tablet.png" alt="desktop"/>
    </section>
    <section>
      <p>Mobile</p>
      <img data-src="lib/img/mobile.png" alt="desktop"/>
    </section>
  </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    transition: 'slide', // none/fade/slide/convex/concave/zoom

    multiplex: {
      id: '14289155470714242087',
      secret: '626e92c908c2a317',
      url: 'revealjs.jit.su:80'
    },

    // Optional reveal.js plugins
    dependencies: [
      { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'plugin/zoom-js/zoom.js', async: true },
      { src: 'plugin/notes/notes.js', async: true },
      { src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
      { src: 'plugin/multiplex/client.js', async: true },
      { src: 'plugin/multiplex/master.js', async: true }
    ]
  });

</script>

</body>
</html>
