<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>who is me?</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="/css/reveal.css">
    <link rel="stylesheet" href="/css/theme/black.css" id="theme">

    <!--customer-->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <!--<section data-background="#2aa57e">-->
        <section data-background="#4D7E65">
            <h1>김태준 이력서</h1>
            <small>훌륭한 개발자가 되고 싶어요!</small>
            <p>
                <small>Created by <a href="https://github.com/taesca">taesca</a> / <a href="">taescais@gmail.com</a></small>
            </p>
        </section>

        <section>
            <h3>뭐 이런 이력서가 있나 놀라셨죠?</h3>
            <h3>개발도 즐겁게! 면접도 즐겁게!.. 재밌게 봐주세용</h3>
            <h3 class="fragment roll-in red">이 이력서를 쓰면서..작년이 오버랩 되었지만</h3>
            <h4 class="fragment roll-in"> NSM에서 많은걸 해볼수 있을거 같다는 생각에서
                <p>또 <span class="blue strong">지원</span>했습니다.</p>
            </h4>
        </section>

        <section>
            <h3>인적사항</h3>
            <pre>
                <code data-trim contenteditable class="hljs javascript">
var taesca = {
    "이름" : "김태준",
    "생년월일" : "850923",
    "휴대폰" : "010-7299-8509",
    "이메일" : "taescais@gmail.com",
    "주소" : {
        "현재사는곳" : "서울 동작구 상도동",
        "내년엔" : "분당에 살수 있을까"
    },
    "병역" : {
        "병과" : "현역 병역특례",
        "기간" : "110329~140129"
    }
}
                </code>
            </pre>
            <small>유치하지만 <span class="red strong">개발자</span>니까...</small>
            <p><small>이런거 한번 해보고 싶었어요 :D</small></p>
        </section>

        <section>
            <h3>학력 & 자격증</h3>
            <ul>
                <li>인하부속고등학교 졸업</li>
                <li>명지대 경영정보학과 졸업</li>
                <li>정보처리기사</li>
                <li>SCJP</li>
            </ul>
        </section>

        <section data-background="/lib/img/whoisme/jy.png" class="exp">

        </section>

        <section data-background="/lib/img/whoisme/jy.png" class="exp">
            <div class="contentbox">
                <p>
                    다시 봐도 경이로운 출퇴근 시간표...
                </p>
            </div>
        </section>

        <section data-background="/lib/img/whoisme/jy.png" class="exp">
            <div class="contentbox">
                <h2>진영정보통신</h2>
                <p>
                    <small>2011.03.02 ~ 2012.03.31</small>
                </p>
                <p>
                    <small><span class="red strong">출퇴근</span>밖에 모르던 바보시절....</small>
                </p>
            </div>
        </section>

        <section>
            <h3>진영에서 했던 일(13개월)</h3>

            <small class="small">
                S/W 개발을 담당하였으며, 연구소 직원자체가 3명이 되지 않을때가 많았기때문에 H/W도 필요에 의해 작업하였습니다. <br>
                개발은 윈도우기반 MFC를 사용하여 개발하는 경우가 많았고 초기에는 JAVA를 이용한 윈도우 어플리케이션도 개발하였습니다.<br>
                LED전광판을 제어하는 프로그램을 제작하였기때문에 프로토콜상의 바이트 데이터 전송과 비디오 출력 및 픽셀단위의 이미지컨트롤을 프로그래밍하였습니다.<br>
                <br>
                [수자원공사 낙동강 전광판]<br>
                기간: 2011.07.15 ~ 2011.08.20<br>
                기술: MFC,소켓통신<br>
                담당내용<br>
                - 기존에 개발해두었던 전광판 제어 프로그램을 커스트마이징하여 수자원공사 시스템에 맞게 구현<br>
                - 공사담당자와 개발미팅, 개발, 설치 및 교육까지 단독으로 진행하였습니다.<br>
                - 주요기능은 수자원공사로 부터 수심 및 강물에 대한 정보를 받아서 전광판에 소켓통신을 이용한 데이터 표출<br>
                <br>
                [수도권 매립지 반입관리 시스템]<br>
                기간: 2011.06.02 ~ 2012.02.27<br>
                기술: MFC, 소켓통신<br>
                담당내용<br>
                - 회사에서 맡은 파트는 신호체계였으며, 전광판을 이용해 차량들을 통제하는 역할<br>
                - 중앙서버를 통해 차량들이 들어왔을 때 받는 RFID 값을 통해 신호체계서버로 전송된 프로토콜을 분석해서 전광판에 차량들이 이해할수 있도록 표출하는 기능을 구현하였습니다.
            </small>
        </section>

        <section data-background="/lib/img/whoisme/tri.png" >
            <div style="background-color: rgba(0, 0, 0, 0.7); color: #fff; padding: 20px;">
                <h2>트리포스</h2>
                <p>
                    <small>2012.04.01 ~ 2014.01.31</small>
                </p>
                <p>
                    나에게 <span class="red strong">SI</span>란?
                </p>
            </div>
        </section>

        <section>
            <h3>트리포스에서 했던 일(21개월)</h3>

            <div class="small">
                기본적으로 개발팀에 있으면서, 사내 S/W관리 및 H/W관리도 함께 겸하였으며, 개발일이 없을때는 유지보수팀에 지원을 가는 식으로 업무가 진행되었습니다.<br>
                <br>
                [삼립계열사 주문]<br>
                기간: 2013.09.09 ~ 2013.12.27<br>
                기술: html,jsp, javacript, jquery, mssql, android<br>
                - SPC 고객사파트 웹사이트 전담<br>
                - 주요 구현 기능들은 SAP 연동 데이터 송수신, WAS 초기 세팅<br>
                - 22페이지가량 코딩<br>
                <br/>
                [AJ SellCar 방문기사용앱]<br>
                기간: 2013.08.05 ~ 2013.09.06<br>
                기술: html,jsp, javacript, jquery, oracle, android<br>
                -  방문스케쥴, 차량점검, 차량진단 평가 페이지들 작성 및 기능구현 (하이브리드앱)<br>
                <br>
                [일양 로지스 스마트택배 기사용앱]<br>
                기간: 2013.03.04 ~ 2013.07.19<br>
                기술: html,jsp, javacript, jquery, mssql, android<br>
                - 택배쪽 페이지 작업 및 기능구현과 트리포스 내부 앱관련 결재관리 페이지 작성<br>
                - 주요 구현 기능은 로컬 디비를 이용하여 ajax통신으로 서버전송, 블루투스 스캐너로 바코드 데이터 처리, 다날 결재시스템 연동<br>
                <br/>
                [SFA(영업관리시스템)]<br>
                기간: 2012.09.03 ~ 2013.02.28<br>
                기술: html,jsp, javacript, jquery, mssql, android<br>
                - 중소기업을 타게팅한 영업관리 프로그램으로 웹과 하이브리드앱으로 구성되어 있으며 양쪽 모두 담당<br>
                - 페이지분량은 30페이지분량 작업하였으며, jquery 그래프, jqgrid 를 적용하였습니다.<br>
                <br/>
                [SK MYSHOP]<br>
                기간: 2012.04.09 ~ 2012.08.10<br>
                기술: html, javacript, jquery<br>
                - 테블릿 피시를 이용한  POS 시스템으로 고객관리(CRM) 파트<br>
                - 방문고객 등록 및 조회 페이지 구성, 기념일관리 및 문자 서비스 기능 구현<br>
            </div>
        </section>

        <section data-background="/lib/img/whoisme/ktcs.png" >
            <div class="contentbox">
                <h2>ktcs</h2>
                <p>
                    <small>2014.06.09 ~ 2015.06.09</small>
                </p>
                <p>
                    study... study! <br>
                    <span class="red">개발 욕심</span>이 한창 고조 된 시기..
                </p>
            </div>
        </section>
        <section>
            <h3>ktcs에서 했던 일(12개월)</h3>

            <div class="small">
                사내 전산 관리를 위한 팀에 있으며, 임직원들이 업무상 필요한 웹이나 앱개발을 주업무로 하고 있습니다.<br/>
                [R2BIS]<br/>
                기간: 2015.03.31 ~ 2015.04.30<br/>
                기술: html, css, ionic framework(angular+phonegap)<br/>
                담당 내용<br/>
                - 1인 프로젝트이기 때문에 모든 환경구축이나 개발 과정뿐 아니라 UX/UI 설계, 디자인까지 전담<br/>
                - 기존의 웹기반 서비스를 하이브리드앱을 통해 업무특성상 외부 현장직원이 많은 환경을 고려하여 모바일에서 사용가능하도록 개발<br/>
                - 촉박한 기간에 대응하여 빠른 개발이 가능하도록 ionic framework 적용<br/>
                - 서버와는 api를 통해 json형식으로 데이터 송수신<br/><br/>

                트리포스에서는 오픈소스 경험이 부족하였습니다. 하지만 ktcs에서는 오픈소스기반 리소스들 을사용할 수 있는 좋은 기회였습니다.<br/>
                현재 직장에서는 직급은 사원이지만 팀 내에 개발경험을 가진 인력이 없다 보니 개발의 전 과정은 물론 기획부터 요구사항분석까지 함께 참여하고 있습니다. <br/>
                그렇다 보니 전문성에 대한 회의는 있었지만 각 파트별 애로사항에 대하여 고민할 수 있는 기회가 되었습니다.
            </div>
        </section>
        <section data-background="/lib/img/whoisme/flitto.png" >
            <div class="contentbox">
                <h2>Flitto</h2>
                <p>
                    <small>2015.06.22 ~ 현재</small>
                </p>
                <p>
                    짧지만 정말 많은걸 보고 배우고 느낀 시기 (연예인도 많이본..)<br>
                    <span class="red">팀워크</span>와 서비스에 대한 관심과 사랑과 열정
                </p>
            </div>
        </section>
        <section>
            <h3>Flitto에서 했던 일(3개월)</h3>

            <div class="small">
                번역 솔루션인 flitto 서비스의 이벤트를 맡아서 진행하였습니다. 업체에서 전달받은 엑셀 영어본문 15만문장을 플리토 서비스에 뿌려서 <br/>
                프랑스와 스페인 문장으로 번역 된 문장을 업체에 납품하는 프로젝트였고, 이 과정에서 필요한 DB table이나 API등을 설계하여 추가하고 <br/>
                문장 검증을 위한 backoffice 프로그램을 리뉴얼하여 적용하였습니다. <br/>
                그 외에 기존 admin 프로그램의 구버전을 종료시키고 신버전에 추가하는 작업등이 있었습니다.<br/>
                node, angular, postgresql, redis 와 같은 기술을 적용하였습니다.<br/>
                <br/>
                현재는 이벤트 진행중에 불편했던 정적 페이지들을 개발자가 그때그때 작업하여 전달해야 했던 불편한 프로세스 개선을 위해<br/>
                마케팅 진행자가 static한 페이지들을 생성하고 제공받을 수 있는 프로젝트를 제안하여 진행중에 있습니다.<br/>
                그 밖엔 개발서버 세팅.. wiki사용 편리성을 위한 confluence 세팅과 같은 업무도 진행하였습니다.<br/>
                <br/>
                스타트업답게 정말 하루하루가 전쟁같이 돌아가는 업무환경에서도 코드를 작성하는 자세와 늘 시스템의 대한 고민을 놓지 않는<br/>
                모습들을 보고 정말 많은 것을 깨닫고 배울 수 있었습니다.<br/>
            </div>
        </section>

        <section class="list">
            <h4>skill</h4>
            <ul>
                <li>hard - html, css, <span class="red">javascript, jquery, angular</span></li>
                <li>soft - node, postgresql, mongo, <small>jsp, spring</small></li>
            </ul>
            <h4>etc</h4>
            <ul>
                <li>git, grunt, gulp, aws, mocha</li>
            </ul>
            <h4>경쟁력!</h4>
            <ul>
                <li>불가능해보이는 일도 <span class="blue">가능</span>하게 했던 경험들</li>
                <li><span class="blue">빠른 습득력</span></li>
                <li>맡은일은 끝까지 해내는 <span class="blue">책임감</span></li>
            </ul>
        </section>

        <section data-background="/lib/img/whoisme/me-ca.jpg" data-background-transition="zoom">
            <div class="contentbox">
                <span class="gray"><span class="small">이제</span> 진짜 제가 드리고 싶은</span> <br/>
                <span class="blue strong">저의 솔직한 이야기</span>를 해볼게요.
            </div>
        </section>
        <section>
            <span class="gray">27이라는 적지 않은 나이에 운이 좋게도 병역특례를 통해</span> <br/>
            <span class="red">개발자</span>라는 최고의 직업을 득했어요. <br/>
            <span> 하지만 일정에 쫓겨 일하던 그 때 저는 <br/> <span class="blue">코더</span>인지도 모르는 <span class="blue strong">코더</span>였어요.</span>
        </section>
        <section>
            잘하는,좋은 개발자 === <span class="red">빨리</span> 만드는 개발자 <span class="current-fragment gray small">인줄 알았어요..</span><br/>
            <span class="blue strong">"벌써 다했어?"</span> 이 말을 듣기 위해 <span class="gray small">또는 퇴근을 위해?</span> <br/><br/>
            <div class="fragment roll-in">
                <span>하지만 최선을 다했는가? <br/>이 프로그램을 내 친구나 부모님이 쓴다면?</span> <br/>
                <span class="red">부끄러웠습니다.</span>
            </div>
        </section>
        <section>
            <div class="explain">
                그렇게 <span class="red strong">사용자입장</span>에서 조금이라도 편리하게 사용할 수 있도록 고민하게 되었고, <br/>
                <span class="blue">최적화와 접근성</span>이라는 것에 대해 고민하게 되었습니다. <span class="gray small">그랬더니 할게 너무너무 많다...</span> <br/>
                꼬리에 꼬리를 물듯이 할일이 많아졌습니다. <br/>
                그래서 <span class="blue">생산성</span> 향상을 위한 툴이나 오픈소스를 보기 시작했습니다. <br/>
                <span class="gray">컨퍼런스를 기웃거리기 시작했고,</span> <br/>
                컨퍼런스에는 제가 모르는 놀라운 기술이야기들로 가득했습니다. <br/>
                아름다운 코드가 보이기 시작했고, 개발자라는 직업에 동경과 자부심이 생기기 시작했습니다. <br/><br/>
                요즘은 의미있는 일들을 할 수 있겠다는 생각에 즐겁고,<br/>
                제가 받은 지금의 도움들을 주변의 개발자들과 나누기 위해 노력하고 있습니다. <br/>
                그리고 언젠가 저도 꼭 저런 컨퍼런스에서 기술을 나눌수 있는 개발자가 되어야겠다고 다짐했습니다. <br/>
            </div>
        </section>
        <section data-background="/lib/img/whoisme/backend.png">
            <div class="contentbox">
                <h2>앞으로 해나가고 싶은 것들</h2>
            </div>
        </section>
        <section data-background="/lib/img/whoisme/backend.png">
            <div class="contentbox">
                <p>사실 하고싶은게 <span class="red strong">너무 많아서</span> 걱정이에요..</p>
            </div>
        </section>
        <section>
            <span class="gray small">선택과 집중이 필요하여 주로 front쪽에 매진을 했었고 </span><br/>
            <span class="blue">빅데이터</span>를 다루는 일은 정말 재밌을거 같아요. <br/>
            <span class="red strong">머신러닝, 데이터분석 같은..</span> <br/>
            <span class="gray">참 관심은 많은데 내 몸은 한개이고..</span>
        </section>
        <section>
            하지만 혼자는 힘들어도 같은 목적을 가지고 <br/>
            <span class="blue strong">함께</span> 만들어간다면 <span class="blue">즐거울거 같아요.</span>
        </section>
        <section>
            <span class="gray">그 곳이</span> <span class="blue strong">NSM</span> <span class="gray"> 될 수 있을거 같다는</span> <br/>
            <span class="gray">생각이 들었고 그래서 가슴이 뛰네요.</span> <br/>
            좋은 기회가 주어져서 함께 <span class="red strong">성장</span>했으면 좋겠어요 :D<br/>
            <br/>
            <span class="blue">감사합니다.</span>
        </section>
    </div>

</div>

<script src="/lib/js/head.min.js"></script>
<script src="/js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        multiplex: {
            id: '14289155470714242087',
            secret: '626e92c908c2a317',
            url: 'revealjs.jit.su:80'
        },

        // Optional reveal.js plugins
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '/plugin/zoom-js/zoom.js', async: true },
            { src: '/plugin/notes/notes.js', async: true },
            { src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
            { src: '/plugin/multiplex/client.js', async: true },
            { src: '/plugin/multiplex/master.js', async: true }
        ]
    });

</script>

</body>
</html>
