.reveal a {
    color:#E5D85C;
}

.reveal pre {
    display: block;
    position: relative;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
}

.reveal .explain {
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: initial;
    text-align: left;
}

.reveal .red {
    color: red;
}
.reveal .blue {
    color: dodgerblue;
}
.reveal .gray {
    color: darkgray;
    vertical-align: initial;
}
.reveal .gray > .small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
}

.reveal .strong {
    font-size: 2em;
}
.reveal .small {
    display: inline-block;
    font-size: 0.4em;
    line-height: 1.2em;
    vertical-align: initial;
    text-align: left;
}
.reveal .exp img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}